// Opacity
$static: .8;
$hover: 1;

// Colors
$default-btn: rgb(46, 44, 52);
$warning-btn: rgba(43, 42, 50, 0.3);
$submit-btn: #B00020;
$primary-bg: #696872;
$secondary-bg: #2f2e32;
$modal-bg: rgba(0, 0, 0, 0.5);

$font-family: "Maven Pro";

body {
    margin: 0;
    font-family: $font-family;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

@font-face{
    font-family: $font-family;
    src: local($font-family),
    url(./fonts/MavenPro-VariableFont_wght.ttf) format("truetype");
}


[class*='text-'] {
  font-family: $font-family !important;
}

.v-switch{
  padding-left: 12px;
  padding-right: 12px;
  .v-selection-control{
    min-height: fit-content !important;
  }
}

.w-fit-content{
  width: fit-content;
}

.h-fit-content{
  height: fit-content;
}

.text-outline{
  text-shadow:
      -1px -1px 0 #000,
      0 -1px 0 #000,
      1px -1px 0 #000,
      1px 0 0 #000,
      1px 1px 0 #000,
      0 1px 0 #000,
      -1px 1px 0 #000,
      -1px 0 0 #000;
}

.bg-surface-opacity{
  background-color: RGBA(46, 44, 52, 0.5);
}

.bg-size-cover{
  background-size: cover;
  background-position: center;
}

.z-index-1{
  z-index: 1;
}