// Opacity
$static: .5;
$hover: .8;
$active: .95;

// Colors
$warning-btn: #ff6464;
$default-btn: #1c1b20;
$submit-btn: #79db8e;

$primary-bg: #464352;
$secondary-bg: #383542;
$secondary-bg-hover: #332f3bd3;

body {
    margin: 0;
    background-color: $primary-bg;
    font-family: "Maven Pro";
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face{
    font-family: "Maven Pro";
    src: local("Maven Pro"),
    url(./fonts/MavenPro-VariableFont_wght.ttf) format("truetype");
}